:root {
    --grid-height: 100%;
}

body {
    margin: 0;
    background-color: #0F6292;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: #FFED00;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
    background-color: #000000a9;
}



.main-container {
    margin: 0;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 100vh;
}

.main-container>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    grid-column: span 3;

    padding: 0 7%;
    padding-top: 3%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    color: #FFED00;
    align-items: flex-start;
}

/* -------------- HS TABLE --------------- */

.table-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

td,
th {
    /* border: 2px solid white; */
    background-color: #000000;
    color: white;
}

table {
    width: 100%;
    height: 100%;
}

/* -------------- GUESS INPUT --------------- */

.guess-form {
    height: 100%;
    width: 100%;
    grid-area: 2/2/3/3;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.guess-form>* {
    border: none;
    padding: 0;
}

.guess-input {
    height: 50%;
    width: 100%;
    background-color: #000000;
    border-radius: 20px 20px 0 0;
    text-align: center;
    margin-bottom: 5px;
    color: #FFED00;
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
}

.guess-button {
    background-color: #000000;
    width: 100%;
    height: 20%;
    border-radius: 0 0 20px 20px;
    color: #F9E0BB;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    transition: background-color 0.3s;
    z-index: 1;
}

.restart-div {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color: #ffee0044;
    font-size: 5rem;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ----------------- HINT ------------------- */

.hint-text {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border-radius: 20px 20px 0 0;
    background-color: #202020;
    color: #FFED00;
    width: 80%;
    height: 20%;
    transition: top 0.3s;
}

.hint-text>span {
    font-size: 2.5rem;
}

.hint-show {
    top: calc(-20% - 2px);
    transition: top 0.3s;
}

.too-low {
    color: rgba(255, 255, 255, 0.7);
}

.too-high {
    color: rgba(255, 0, 0, 0.7);
}

/* ----------- TRIES GRID SYSTEM ------------ */

.tries-container {
    grid-column: span 3;
    height: 100%;
    width: 100%;
}

.tries-numbers {
    display: grid;
    grid-template: 1fr 200px / repeat(4, 1fr);
    background-color: #000000;
    border: 10px solid rgb(54, 54, 54);
    height: 90%;
    width: 70%;
    border-radius: 20px;
    color: #FFED00;
    font-family: 'Press Start 2P', cursive;
}

.tries-numbers>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tries-text {
    grid-area: 1/1/-1/-1;
    font-size: 4rem;
    color: #ffee0044;
}

.tries-th-title {
    grid-area: 1/1/2/2;
    font-size: 1.5rem;
    border-right: 4px solid rgb(54, 54, 54);
}

.tries-too-high {
    grid-area: 2/1/3/2;
    border-right: 4px solid rgb(54, 54, 54);
}

.tries-recent {
    grid-area: 1/2/2/4;
    font-size: 3rem;
    color: #fff786;
}

.tries-all {
    color: #ffffff57;
    grid-area: 2/2/3/4;
}

.tries-tl-title {
    font-size: 1.5rem;
    grid-area: 1/4/2/-1;
    border-left: 4px solid rgb(54, 54, 54);
}

.tries-too-low {
    grid-area: 2/4/3/5;
    border-left: 4px solid rgb(54, 54, 54);
}

.tries-range {
    padding: 5%;
    font-size: 0.8rem;
    overflow: auto;
    line-height: 1.3rem;
}

/* ------------ POPUP BACKGROUND ------------ */

.popup-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000bb;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.popup-background-show {
    pointer-events: all;
    opacity: 1;
}

/* ----------------- POPUP ------------------ */

.popup-container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    left: 50%;
    width: 70%;
    height: 50%;
    background-color: #16FF00;
    border-radius: 20px;
    z-index: 4;
    border: 10px solid rgb(0, 0, 0);
    text-align: center;

    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 65%;
    opacity: 0;
    transition: opacity 0.2s 0.2s;
    animation: slidedown 0.4s;
}

.popup-container-show {
    pointer-events: all;
    opacity: 1;
    top: 50%;
    animation: slideup 0.4s;
}

@keyframes slideup {
    0% {
        top: 65%;
        opacity: 0;
    }

    50% {
        top: 45%;
        opacity: 0.9;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

@keyframes slidedown {
    0% {
        top: 50%;
    }

    50% {
        top: 45%;
    }

    100% {
        top: 65%;
    }
}

.popup-buttons-container {
    width: 100%;
    height: 15%;
}

.popup-button-continue {
    background-color: #000000;
    width: 45%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    color: #F9E0BB;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    transition: background-color 0.3s;
    border: none;
    padding: 0;
}

.popup-button-scores {
    background-color: #000000;
    width: 45%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    color: #F9E0BB;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    transition: background-color 0.3s;
    border: none;
    padding: 0;
}

.popup-container p {
    color: #000000;
}

.popup-congrats {
    font-size: 2.5rem;
}

.popup-guess {
    font-size: 1.5rem;
}

.popup-number {
    color: #0F6292 !important;
    font-size: 5rem;
}

.popup-done {
    font-size: 2rem;
}

.popup-tries,
.popup-time {
    color: #0F6292;
    font-size: 2.5rem;
}